@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;

    font-family: "Sora";
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;

}
.navbar img{
    width: 15rem;
    background-color: white;

}
.navbar .nav_menu{
    display: flex;
    gap: 2rem;
    background-color: white;
}
.btn{
    background-color: green !important; 
    color: white;
    border-radius: 5px;

}
.nav_menu div{
    padding: 10px 20px;
    background-color: white;
}
.green{
    color: #019b4d;
}
.blue{
    color: #2681f4;
}
.heading{
    font-size: 6rem;
    font-weight: 600;
    margin-left: 5rem;
}
.yellow{
    color:  #f7b401;
}
.red{
    color: #f62b24;
}
.img_div{
    background-color: white;
}
.btn_1{
   padding: 10px 20px;
   background-color: #2681f4; 
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;

}
.button_div{
    margin-top: 15px;
    margin-left: 5rem;
}
.gen_info{
    margin-left: 5rem;
    color: rgb(88, 86, 86);
}
.hero_sec{
    display: flex;
}
.hero_img img{
    width: 35rem ;
}
.hero_img {
    margin-right: 5rem;
}
.para{
    margin-bottom: 10px;
}
.span_letters{
    color: #373737;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
}
.line{
    height: 3px;
    width: 60px;
    background-color: #0fbe35;
   margin-bottom: 30px;
}
.main_div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 5rem;
}
.main_div p{
    color: rgb(128, 123, 123);
    padding: 10px 130px;
}
.main_div img{
    width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.btn-2{
    padding: 10px 20px;
    background-color: #2681f4; 
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}
.main_last{
    align-items: center;
    background: #ececec73;
    display: flex;
    justify-content: center;
    padding: 0 8rem;
}
.main_last h3{
    color: #373737;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.main_last .color{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
.main_last p{
    color: rgb(128, 123, 123);
   
  
}
.main_last img{
    background: #ececec73;}
.btn-3{
    padding: 10px 20px;
    background-color: #2681f4; 
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 10px;
}
.maps{
    z-index: 100;
    
    width: 100%;
    margin: 0;
    padding: 0;
}
.logo img{
    width: 350px;
    background-color: white;
}
.footer{
    align-items: center;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.links {    
    color: rgb(141, 131, 131);
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}
.footer_1{
    color: rgb(109, 100, 100);
    display: flex;
    gap: 2rem;
    margin-top: 20px;
    background-color: white;

}
.h1{
    color: rgb(141, 131, 131);
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
    background-color: white;

}
.copyright{
    border-top: 1px solid gray;
    width: 100%;
    color: #505050;
    background-color: white;
    margin-top: 25px;
    padding: 30px 20px;
    text-align: center;
}
.footer div,.footer p{
    background-color: white;
}
.footer_1 div:hover{
    color: red ;
}
.symbol{
    color: white;
    background-color: #2681f4;
}
.social_links{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    margin-top: 10px;
    color: gray;

}
.social_links div i{
    border: 1px solid gray;
    padding: 10px ;
    border-radius: 100px;
}
.registration_form{
    display: flex;
    justify-content: space-around;
}
.register_img img{
    width: 30rem;
    margin-left: 100px;
}
.registration_input input{
    width: 325px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.main_registration{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 150px;
}
.input_container{
    position: relative;
}
.registration_label label {
    position: absolute;
    top: -10px;
    left: 5px;
    z-index: 100;
    padding: 0px 5px;
    color: gray;
    font-size: 15px;
}
.registration_input i{
    position: absolute;
    top: 9px;
    right: 10px;
    color: gray;
    font-size: 20px;
}
.input_container select{
    width: 345px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.quiz{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
}
.quiz_category{
    display: flex;
    gap: 15px;
}
.quiz_1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.quiz p{
    margin-bottom: 10px;
}
.tech{
    margin-top: 10px;
}
.web{
    margin-left: 60px;
}
.signup{
    padding: 10px 25px;
    color: white;
    background-color: #2681f4;
    border: none;
}
.links_1{
    margin-bottom: 40px;
}
.btn a{
    text-decoration: none;
    background-color: green;
    color: white;
}
.upcoming{
    color: #333;
    font-size: 40px;
    font-weight: 400;
    margin: 20px 10px;
    text-align: center;
}
.new_line{
    height: 3px;
    width: 60px;
    background-color: #ce1b1b;
   margin-bottom: 30px;
   
}
.event{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 5rem;
}
.event_1{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.img_1 img{
    width: 35rem;
    margin-left: 100px;
    
}
.para_1 p{
    color: #333;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    text-align: left;
}
.line_3{
    background: #b4a9a9;
    height: 1px;
    margin-top: 40px;
    width: 100%;
}
.btn_5{
    padding: 10px 20px;
    background-color: green; 
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;

}
.para_2 p{
    color: #333;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    text-align: left;
}
.orientation{
    color: #333;
    font-size: 2rem;
    font-weight: 300;
}
.para_3{
    color: #333;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    text-align: left;
}
.schedule{
    margin-top: 15px ;
    font-size: 15px !important;
    color: black !important;
    font-weight: 500 !important;
}
.android{
    font-size: 40px;
}

.schedule_1{
    margin-top: 15px;
    font-size: 20px !important;
    color: black ;
}
.contact{
    display: flex;
    /* justify-content: space-around; */
    gap: 50px;
    padding: 20px 50px;
    /* border: 1px solid ; */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    margin: 4rem 7rem;
}
.contact_social{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}
.contact_social i{
    font-size: 30px;
    color: #2681f4;
}
.contact_head{
    font-size: 18px;
}
.contact_info{
    font-size: 14px;
    color: #b4a9a9
}
.contact_main{
    font-size: 30px;
    font-weight: 600;

}
.contact_input input{
    width: 600px;
    padding: 10px;
    background-color: #f0f1f8;
    border: none;
    outline: none;
    border-radius: 5px;
}
textarea{
    width: 600px;
    padding: 10px;
    background-color: #f0f1f8;
    border: none;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 100px;
}
.contact_inputmain{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.contact_btn{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #2681f4;
    border: none;
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}